ul,p, ol, dl{font-size: 18px; text-align: justify}
h1, h2, h3, h4, h5, h6, legend {margin-top: 30px; margin-bottom: 5px}
p {margin-top: 10px; margin-bottom: 5px}
/* for image caption */
img {
display: block;
margin-left: auto;
margin-right: auto;
}
em {
    margin-right: 100px;
    margin-left: 100px;
}
img, br, em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block
}